:root{
    --theme_color: #DB7953;
    --light_color: #F5CCBC;
    --light_color_opacity: rgba(245, 204, 188, 0.6);
    --background_color: rgba(183, 194, 192, 0.5);
    --dark_color: #8F2700;
    --text_color: #ECF5F4;
}

body{
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background_color);
}


h1, h2, h3 {
    font-family: 'Poiret One', cursive;
    font-weight: lighter;
}

h3 {
    color: var(--dark_color);
}






/*HEADER CODE*/
header{
    background-color: var(--theme_color);
    color: var(--light_color);
    
}

header h1{
    text-decoration: underline;
    font-size: 64px;
    margin: 0;
    padding-top: 1rem;
    padding-left: 1rem;
    text-shadow: 0px 4px 4px #0000003b; 
}

.header_home h1 {
    text-align: center; 
    font-size: 72px;
}

header h2{
    font-size: 24px;
    margin: 0;
    padding-bottom: 1rem;
    text-shadow: 0px 4px 4px #0000003b;
    text-align: center;
}

.container_header{
    display: flex;
    flex-direction: row;
}

.header_title{
    min-width: 85%;
}

.toggle{
min-width: 15%;
align-self: center;   
font-size: 30px; 
text-shadow: 0px 4px 4px #0000003b;
}

nav {
    background-color: var(--light_color); 
    display: none;
}

.nav.show_menu{
    display: block;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    padding: 1rem 0;
    margin: 0 auto;
    
}


nav a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    text-shadow: 0px 4px 4px #0000003b; 
}
}

nav a:hover{
    color: #7D9994;
}

nav li:hover{
    transform: scale(1.1);
}
nav a:hover{
    color: #7D9994;
}



@media only screen and (min-width: 600px) {
    .header_home, .header_title{
        min-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 1rem;
    }

    .header_home h1, .header_title h1 {
        padding:0;
        font-size: 72px;
    }

    .header_home h2, .header_title h2{
        font-size: 34px;
        padding: 3rem 0 0 0.5rem;
    }

    nav{
        display: block;
    }

    nav ul{
        max-width: 65%;
    }

    .toggle{
        display: none;
    }
}



@media only screen and (min-width: 800px) {

    .header_home h1, .header_title h1 {
        font-size: 110px;
    }

    .header_home h2, .header_title h2 {
        font-size: 36px;
        padding: 5.5rem 0 0 0.5rem;
    }


    nav {
        font-size: 25px;
    }
}
}
/*END HEADER CODE*/











/*MAIN CODE*/

/*HOME PAGE CODE*/

.main_home {
    display: flex;
    flex-direction: column;
}

.home_work {
    min-height: 395px;
    background-image: url("./Pictures/tom-crew-5HRCkrSs9Dk-unsplash.jpg");
    background-size: cover;
    position: relative;
    animation: fadeIn 1s linear 0s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}


.home_about {
    min-height: 395px;
    background-image: url("./Pictures/jade-scarlato-TXCfJd83AI0-unsplash.jpg");
    background-size: cover;
    position: relative;
    animation: fadeIn  2s linear 0s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.home_contact {
    min-height: 395px;
    background-image: url("./Pictures/jade-scarlato-qbXP18rappM-unsplash.jpg");
    background-size: cover;
    position: relative;
    animation: fadeIn 3s linear 0s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

@keyframes fadeIn { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

.main_home a{
    text-decoration: none;
}

.home__cards_link {
    display: flex;
    flex-direction: row;
    background-color: var(--light_color_opacity);
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5rem 0;
    max-height: 2.5rem;
}

.home__cards_link p {
    text-decoration: none;
    color: var(--dark_color);
    font-size: 24px;
    padding-right: 2rem;
    margin: 0;
}

.home__cards_link:hover {
    background-color: var(--light_color);
    padding: 1rem 0;
}

.link_arrow{
    max-width: 2rem;
}

@media only screen and (min-width: 600px) {

    .main_home{
        display: grid;
    }
    .home_work{
        min-height: 598px;
        grid-area: 1/1/2/3;
    }
    .home_about{
        min-height: 598px;
        grid-area: 2/1/3/2;
    }
    .home_contact{
        min-height: 598px;
        grid-area: 2/2/3/3;
    }
    .home__cards_link{
        bottom: 2rem;
    }
}

/*END HOME PAGE CODE*/




/*ABOUT PAGE CODE*/

.about_main {
    background-image: url("./Pictures/jade-scarlato-sEGt6bYp7VU-unsplash.jpg");
    background-size: cover;
    padding: 1.5rem 0;
    animation: fadeIn 1s linear 0s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 90%;
    background-color: var(--background_color);
    margin: auto;
    padding: 1.5rem 0; 
}

.about section{
    animation: fadeIn 2s linear 0s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.about img{
    animation: fadeIn 3s linear 0s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}


.about img, .about section{
    max-width: 90%;
    margin: auto;
}

.about h3{
    text-align: center;
    font-size: 36px;
}

.about p{
    color: var(--text_color);
    text-align: justify;
    font-size: 18px;
    line-height: 2rem;
}

@media only screen and (min-width: 900px){
    .about_main{
        padding: 3rem 0;
    }
    .about{
        flex-direction: row-reverse;
        padding: 2rem 0;
    }
    .about img{
        max-width: 35%;
    }

    .about section{
        max-width: 40%;
    }

    .about h3{
        font-size: 50px;
        margin: 2rem;
    }
}

/*END ABOUT PAGE CODE*/

/*WORK PAGE CODE*/

.work_main {
    background-image: url(./Pictures/tom-crew-5HRCkrSs9Dk-unsplash.jpg);
    background-size: cover;
    padding-bottom: 1.5rem;
    animation: fadeIn 1s linear 0s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.work_main h3{
    margin: 0;
    padding: 2rem 0;
    text-align: center;
    font-size: 24px;
}

.work_cards{
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background_color);
    margin: auto;
    padding-bottom: 2.5rem;
    animation: fadeIn 2s linear 0s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.work_cards p{
    background-color: var(--background_color);
    color: var(--text_color);
    text-align: center;
    font-family:  'Poiret One', cursive;
    font-size: 24px;
    position: absolute;
    top: 1rem;
    min-width: 100%;
    padding: 0.5rem 0;
    display: none;
}

.work_cards article{
    min-width: 80%;
    min-height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2.5rem auto 0;
    padding-top: 2.5rem;
    position: relative;
}

.article1 {
    background-image: url(./Pictures/tom-crew-Oi1PBOWyX_k-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    animation: fadeIn 3s linear 0s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.article2 {
    background-image: url(./Pictures/tom-crew-oHrC8V_XRU4-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    animation: fadeIn 3.5s linear 0s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.article3 {
    background-image: url(./Pictures/tom-crew-vu0lyZYeseY-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    animation: fadeIn 4s linear 0s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.article4 {
    background-image: url(./Pictures/tom-crew-YA2E3d7a9Wo-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    animation: fadeIn 4.5s linear 0s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.article5 {
    background-image: url(./Pictures/tom-crew-NUUjVj4YQLA-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    animation: fadeIn 5s linear 0s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.article6 {
    background-image: url(./Pictures/tom-crew-oiZAQvxTcYQ-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    animation: fadeIn 5.5s linear 0s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.article7 {
    background-image: url(./Pictures/tom-crew-3uwu5K0RtaE-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    animation: fadeIn 6s linear 0s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.article8 {
    background-image: url(./Pictures/tom-crew-bgIO-u4GEfI-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    animation: fadeIn 6.5s linear 0s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.article9 {
    background-image: url(./Pictures/tom-crew-fZTNZ-7-ong-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    animation: fadeIn 7s linear 0s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.work_cards article:hover{
    transform: scale(1.1);
}

.article1:hover p, .article2:hover p, .article3:hover p, .article4:hover p, .article5:hover p, .article6:hover p, .article7:hover p, .article8:hover p, .article9:hover p{
    display: block;
}


@media only screen and (min-width: 700px){

    .work_main h3{
        font-size: 40px;
    }

    .work_cards{
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .work_cards article{
        min-width: 40%;
    }
}

@media only screen and (min-width: 1000px){
    .work_cards article{
        min-width: 26%;
    }

}



/*END WORK PAGE CODE*/

/*STORE CODE*/

.store {
    background-image: url(./Pictures/jade-scarlato-qbXP18rappM-unsplash.jpg);
    background-size: cover;
    background-position: center;
    font-size: 20px;
    padding: 1.5rem 0;
    animation: fadeIn 1s linear 0s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}

.store article{
    background-color: var(--background_color);
    max-width: 90%;
    margin: auto;
    text-align: center;
    padding-bottom: 1.5rem;
    animation: fadeIn 2s linear 0s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
} 

.store h3{
    margin: auto;
    max-width: 80%;
    padding: 1.5rem 0;
    animation: fadeIn 2s linear 0s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}

.store ul{
    list-style: none;
    color: var(--text_color);
    padding:1.5rem 0;
    margin: 0;
    animation: fadeIn 5s linear 0s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}

.map{
    background-color: var(--background_color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.map_container {
    max-width: 80%;
    margin: auto;
    padding: 3rem 0;
}

iframe{
    max-width: 100%;
}

@media only screen and (min-width: 800px){

    .store{
        padding: 6rem 0;
    }
    .ul_store{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .ul_store ul{
        max-width: 30%;
        font-size: 25px;
    }

    .store h3{
        font-size: 40px;
    }

    .map_container{
        width: 90%;
    }
}
/*END STORE CODE*/


/*END MAIN CODE*/










/*FOOTER CODE*/

footer {
    background-color: var(--theme_color);
    color: var(--light_color);   
}

footer p{
    font-size: 11px;
    padding: 2rem 0;
    margin: 0;
    text-align: center;
}


/*END FOOTER CODE*/